body {
    background-color: #5A5A5A;
}

.container {
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: #cccccc;
}

.games {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    grid-row-gap: 25px;
}

.game-item {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.wish-list {
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
    flex: 0 0 33.33333%;
    align-self: flex-start;
    padding-left: 20px;
}

@media screen and (max-width: 1024px) {
    .container {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .games {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .games {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 425px) {
    .container {
        flex-flow: column-reverse;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .games {
        grid-template-columns: repeat(2, 1fr);
    }

    .wish-list {
        flex: 1;
        padding-left: 0;
        margin-bottom: 20px;
    }
}
