<main class="container">
  <div class="games">
    <my-game-card *ngFor="let game of games" [game]="game"></my-game-card>
  </div>
  <aside class="wish-list">
    <h2>Список желаемого</h2>
    <ul>
      <li *ngFor="let game of getWishedGames()">
        <span class="wish-list-game">{{game.name}}</span>
        <div class="wish-list-remove-btn"></div>
      </li>
    </ul>
    <div class="wish-list-total">Сумма: <span class="wish-list-total-sum">2050</span> руб.</div>
    <div class="wish-list-clear-btn">Очистить список</div>
  </aside>
</main>
