.container {
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-left: 15vw;
  padding-right: 15vw;
}

.games {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 25px;
}

.wish-list {
  $wish-list-em-color: #60CCFF;

  position: -webkit-sticky;
  position: sticky;
  top: 1px;
  flex: 0 0 30%;
  align-self: flex-start;
  margin-left: 20px;
  padding: 5px 20px;
  color: #FFFFFF;
  background-color: #3B3C3D;
  border-top: 10px solid #60CBFF;

  h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: justify;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  li {
    display: flex;
    align-items: center;
    padding: 5px 10px;

    &:hover {
      background-color: #575757;

      .wish-list-remove-btn {
        opacity: 1;
      }
    }
  }

  &-game {
    flex: 1;
  }

  &-remove-btn {
    opacity: 0;
    width: 12px;
    height: 12px;
    background-image: url("./img/cross.svg");
    background-size: 12px 12px;
    cursor: pointer;
  }

  &-total {
    padding-left: 10px;
    margin-bottom: 10px;

    &-sum {
      color: $wish-list-em-color;
    }
  }

  &-clear-btn {
    padding-left: 10px;
    color: $wish-list-em-color;
    cursor: pointer;
    text-decoration: underline;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .games {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .games {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .container {
    flex-flow: column-reverse;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .games {
    grid-template-columns: repeat(2, 1fr);
  }

  .wish-list {
    flex: 1;
    width: 100%;
    position: static;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
